<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">
        <!--连接数据库-->
        <context:property-placeholder location="db.properties"/>
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
                <property name="driverClass" value="${jdbc.driver}"/>
                <property name="jdbcUrl" value="${jdbc.url}"/>
                <property name="user" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="minPoolSize" value="0" />
                <property name="maxPoolSize" value="10" />
                <property name="acquireIncrement" value="5" />
                <property name="maxIdleTime" value="10" />
                <property name="maxStatements" value="0" />
        </bean>
        <!--使用spring IOC 创建 sqlSessionFactory-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
                <!--注入数据源(必须)-->
                <property name="dataSource" ref="dataSource"/>

                <!--配置别名-->
                <property name="typeAliasesPackage" value="cn.Java18.*.model"/>

                <!--配置关于setting属性-->
                <property name="configuration">
                        <bean class="org.apache.ibatis.session.Configuration">
                                <!--配置打印日志 value 日志类的 全限定名-->
                                <property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
                        </bean>
                </property>
        </bean>
        <!--使用MapperScannerConfigure 自动生成mapper接口代理对象，并把它们纳入IOC管理-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
                <property name="basePackage" value="cn.Java18.*.mapper"/>
                <!--配置sqlSessionFactory使用sqlSessionFactoryBean name注入sqlSessionFactory-->
                <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory">

                </property>
        </bean>
        <!--事务管理-->
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                <property name="dataSource" ref="dataSource"/>
        </bean>
        <!-- 配置 事务增强通知(切面)-->
        <tx:advice id="baseTxAdvice" transaction-manager="transactionManager">
           <tx:attributes>
                   <tx:method name="add*" propagation="REQUIRED"/>
                   <tx:method name="insert*" propagation="REQUIRED"/>
                   <tx:method name="update*" propagation="REQUIRED"/>
                   <tx:method name="edit*" propagation="REQUIRED"/>
                   <tx:method name="del*" propagation="REQUIRED"/>
                   <tx:method name="remove*" propagation="REQUIRED"/>
                   <tx:method name="sel*" propagation="REQUIRED"/>
                   <tx:method name="find*" propagation="REQUIRED"/>
           </tx:attributes>     
        </tx:advice>
        <!--使用AOP 把事务通知，切入目标方法-->
        <aop:config>
                <!--配置切入点-->
                <aop:pointcut id="'txPoint" expression="execution(* cn.Java18.*.service.impl.*.*(..))"/>
                <!--配置 哪些切入点使用 baseTxAdvice 事务增强通知-->
                <aop:advisor advice-ref="baseTxAdvice" pointcut-ref="'txPoint"/>

        </aop:config>
</beans>